<div class="main-container">
    <app-stack-bar [double]="true"></app-stack-bar>
    <app-stack-bar ></app-stack-bar>
    <app-tile-line-chart [double]="true"></app-tile-line-chart>
    <app-tile-line-chart></app-tile-line-chart>
<app-tile-circular></app-tile-circular>
    <app-tile-comparison [double]="true"></app-tile-comparison>
    <app-tile-comparison></app-tile-comparison>
    <app-tile-bar [double]="true">></app-tile-bar>
    <app-tile-bar></app-tile-bar>
<app-tile-area [double]="true"></app-tile-area>
<app-tile-area></app-tile-area>
</div>
