<fd-tile size="l" [double]="true">
    <div fd-tile-header>
        <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold; color: black">display business volume</span>
            <span style="color: #888888; font-size: 10px">condition contracts</span>
        </div>
    </div>
    <div fd-tile-content style="display: flex;justify-content: space-between;">
        <div style="flex: 50%">
            <h2>1.8 M</h2>
        </div>
        <div id="bar-chart" style="width: 100%;height: 100%; flex: 50%" >

        </div>

    </div>
    <div fd-tile-footer  [twoColumn]="true">
        <div fd-tile-section >EUR. Year to Date</div>
        <div fd-tile-section style="text-align: center">Actual / Forcecast</div>
    </div>
</fd-tile>

<app-circular-chart></app-circular-chart>
<app-stack-bar-chart></app-stack-bar-chart>
