body {
    width: 100%;
    margin: 0;
    background-color: var(--sapBackgroundColor);
    font-family: var(--sapFontFamily);
}



//tiles
.fd-tile__header {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 14px;
        font-weight: bold;
        color: black
    }

    .subtitle {
        color: #888888;
        font-size: 10px
    }
}

.fd-tile__footer{
    .fd-tile__section{
        text-align: start;
    }
}
