<fd-tile size="l" >
    <div fd-tile-header>
        <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold; color: black">display business volume</span>
            <span style="color: #888888; font-size: 10px">condition contracts</span>
        </div>
    </div>
    <div fd-tile-content style="display: flex;justify-content: flex-start;">

        <div id="circular-chart" style="width: 100%;height: 100%; ">

        </div>

    </div>
    <div fd-tile-footer  >
        <div fd-tile-section >EUR. Year to Date</div>

    </div>
</fd-tile>


